.centered-title {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    color: #333;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    min-height: 100vh;
    padding: 20px;
    margin: -10px;
}

.main-button-container {
    position: relative;
    background-color: #dbe3ff;
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 12px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
    padding: 30px;
    text-align: center;
}

.background-image {
    width: 70%;
    max-width: 650px;
    height: auto;
    opacity: 0.9;
}

.main-button-container button {
    padding: 15px 30px;
    font-size: 1.2rem;
    font-weight: bold;
    background: #5271ff;
    color: white;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 30%;
    max-width: 300px;
}

.main-button-container button:hover {
    background-color: #425bd9;
    transform: scale(1.05);
}

.main-button-container {
    opacity: 0;
    transform: translateX(-50px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
}


.main-button-container.show {
    opacity: 1;
    transform: translateX(0);
}
